[submodule "KisskhProvider"]
	path = KisskhProvider
	url = https://github.com/Burhanverse/KissKH.git

[submodule "AsiaFlix"]
	path = AsiaFlix
	url = https://github.com/Burhanverse/AsiaFlix.git

[submodule "KisskhOne"]
	path = KisskhOne
	url = https://github.com/Burhanverse/KisskhOne.git

[submodule "KissAsian"]
	path = KissAsian
	url = https://github.com/Burhanverse/KissAsian.git
